.mobile-controls {
    display: none; /* Hide controls by default */

    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
}

@media (max-width: 990px) {
    .mobile-controls {
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 0;
        pointer-events: none;
    }

    .mobile-controls .d-pad,
    .mobile-controls .action-buttons {
        position: absolute;
        bottom: 30px;
        width: 184px;
        height: 184px;
        pointer-events: auto;
    }

    .mobile-controls .d-pad {
        left: 30px;

        .up {
            top: 0;
            left: 56px;
        }

        .left {
            top: 56px;
            left: 0;
        }

        .right {
            top: 56px;
            right: 0;
        }

        .down {
            bottom: 0;
            left: 56px;
        }
    }

    .mobile-controls .action-buttons {
        right: 30px;

        .y {
            top: 0;
            left: 56px;
        }

        .x {
            top: 56px;
            left: 0;
        }

        .b {
            top: 56px;
            right: 0;
        }

        .a {
            bottom: 0;
            left: 56px;
        }
    }

    .mobile-controls .d-pad button,
    .mobile-controls .action-buttons button {
        position: absolute;
        width: 72px;
        height: 72px;
        padding: 0;
        border: none;
        border-radius: 50%;
        background: rgba(0, 0, 0, 0.5);
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

/* Hide mobile controls on screens smaller than 655px width or 292px height */
@media (max-width: 300px), (max-height: 292px) {
    .mobile-controls {
        display: none;
    }
}
