.mobile-controls {
    display: none; /* Hide controls by default */

    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
}

@media (max-width: 990px) {
    .mobile-controls {
        display: flex;
        justify-content: space-between;
        position: absolute;
        bottom: 30px;
        left: 80px;
        right: 20px;
        pointer-events: none;
    }

    .mobile-controls .d-pad,
    .mobile-controls .action-buttons {
        display: flex;
        justify-content: center;
        pointer-events: auto;
    }

    .mobile-controls .d-pad {
        flex-direction: row;
        flex-wrap: wrap;
        width: 100px;
        justify-content: center;
        align-items: center;

        .button-row {
            display: flex;
            width: 100%;
            justify-content: center;
            align-items: center;
            gap: 50px;

            .middle-button {
                visibility: hidden;
            }

            .left,
            .right {
                padding: 0 30px;
            }
        }

        button {
            background: rgba(0, 0, 0, 0.5);
            border: none;
            color: white;
            padding: 25px;
            margin: 2px;
            border-radius: 50%;
            width: 72px;
            height: 72px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    .mobile-controls .action-buttons {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 30px;
        position: absolute;
        bottom: 67px;
        right: 10px;

        button {
            background: rgba(0, 0, 0, 0.5);
            border: none;
            color: white;
            padding: 25px;
            margin: 2px;
            border-radius: 50%;
            width: 72px;
            height: 72px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    @media (max-width: 768px) {
        .mobile-controls .action-buttons {
            flex-direction: column;
            bottom: 30px;
            right: 10px;
        }
    }
}

/* Hide mobile controls on screens smaller than 655px width or 292px height */
@media (max-width: 300px), (max-height: 292px) {
    .mobile-controls {
        display: none;
    }
}
